.mydropdown {
	font-family: verdana, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mydropdown-content {
	font-family: verdana, serif;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.mydropdown:hover {
		background-color: #111;
}
/*show dropdown on hover*/
.mydropdown:hover .mydropdown-content {
    display: block;
}

ul.menu {
	font-family: verdana, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
	font-family: verdana, serif;
    float: left;
}

li#login.menu {
	font-family: verdana, serif;
	float: right;
}
li#logout.menu {
	font-family: verdana, serif;
	float: right;
}

li.menu a {
	font-family: verdana, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change the link color to #111 (black) on hover */
li.menu > a:hover, div.mydropdown-content > a:hover {
    background-color: #111;
}
