
footer {font-family: verdana, serif;
	color: #555555;
	background-color: #aaaaaa;
	text-align: center;
}

body {font-family: verdana, serif;
	color: #555555;
	background-color: #aaaaaa;

}

/*
.formlabel{width:100px;
	text-align: right;
}
*/

/*
.formtext{width:auto;
}
*/
input.inputbox {
	float: right;

}
/*
fieldset{
	width: 580px;
	border-radius: 10px;
	border: solid white 2px;
}
*/
fieldset {width: auto;}
fieldset p {

	color:#555555;


	margin: auto;
	width: auto;

}
fieldset label {
	font-weight: normal;
}
/*
form {background-color: #888888;
	color:#555555;
	border: solid white 1px;
	border-radius: 3px;
}*/
legend{background-color: #888888;
	color:#555555;
	border: solid #111111 1px;
	border-radius: 3px;
}

.submitbutton {float:right;
	border-radius: 3px;
}

input.submitbutton:default{
	background-color: white;
	color: black;
}

input.submitbutton:hover{
	background-color: grey;
	color: black;
}

input.submitbutton:active{
	background-color: black;
	color: white;
}
