
footer {font-family: verdana, serif;
	color: #555555;
	background-color: #aaaaaa;
	text-align: center;
}


body {font-family: verdana, serif;
	color: #555555;
	background-color: #aaaaaa;

}

/*
.formlabel{width:100px;
	text-align: right;
}
*/

/*
.formtext{width:auto;
}
*/
input.inputbox {
	float: right;

}

fieldset {
  margin: 20px;
  padding: 0 10px 10px;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 0 0 10px #666;
  background-color: #555555;
	color: white;
}
fieldset input{
	color: black;
}


legend {
  display: block;
  width: inherit;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 21px;
  line-height: inherit;
  color: #555555;
  background-color: #888888;
  border: 3px solid;
  border-color: #DAA520;
  border-radius: 5px;
}

textarea {
	max-width: 100%;
	max-height: 85px;
	color: black;
}
.submitbutton {
	float:right;
	border-radius: 3px;
}

input.submitbutton:default{
	background-color: white;
	color: black;
}

input.submitbutton:hover{
	background-color: grey;
	color: black;
}

input.submitbutton:active{
	background-color: black;
	color: white;
}
